{
  "presets": [
    "env", "stage-0", "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    // [
    //   "module-resolver",
    //   {
    //     "root": ["./src"],
    //     "alias": {
    //       "@components": "./src/components",
    //       "@containers": "./src/containers",
    //       "@locales": "./src/locales"
    //     }
    //   }
    // ]
  ]
}